<div class="container">
    <img src="~/images/FaleConosco.jpg" alt="Fale conosco"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer!</h3>
        <p>
            Se você tem alguma dúvida ou sugestão entre em contato.
        </p>
        <p>
            <span>
                <img src="~/images/EnvelopeIcon.png"/>
            </span>
            <h5><email endereco-emai="caio.henrique.20111@gmail.com" conteudo-email="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/PhoneIcon.png"/>
            </span>
            <h5>(31) 98757-8298</h5>
            <br />
            <span>
                <img src="~/images/HomeIcon.png"/>
            </span>
            <h5>Av. Amazonas, 650 - Centro, Belo Horizonte/MG</h5>
        </p>
    </div>
</div>